/* Default font for the body */
body {
    font-family: sans-serif;
    background-color: #212121; /* Change background color */
    color: #fff; /* Set default text color to white */
}

/* Custom font for the Login and Registration titles */
.login-title,
.registration-title,
.quiz-title,
.custom-font {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
}

.title-font {
    font-family: "Workbench", sans-serif;
    color: orange;
}

/* Styles for the login and registration containers */
.login-container,
.registration-container,
.quiz-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    background-color: #212121; /* Change background color */
    color: #fff; /* Change text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Center align the Login and Registration titles */
.login-container h2,
.registration-container h2,
.quiz-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the input fields */
.login-container input[type="text"],
.login-container input[type="password"],
.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"] {
    width: calc(100% - 20px); /* Subtracting padding */
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Styles for the buttons */
.login-container button,
.registration-container button,
.quiz-container button {
    width: calc(100% - 20px); /* Subtracting padding */
    padding: 10px;
    background-color: #c01a1f; /* Change button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
/* Styles for the buttons,containers of the quiz */
#title-container {
    text-align: center;
    margin-top: 10px;
}

#quiz-selection {
    text-align: center;
    flex-direction: column;
}
.quiz-container {
    text-align: center;
    margin-top: 10px;
}
.quiz-select-btn {
    margin: 10px;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 1px;
    border-color: #c01a1f;
    background-color: #c01a1f;
}

.options-container {
    margin-top: 10px;
}

.option-button {
    margin: 5px;
}

.title{
    font-weight: bold;
    margin-bottom: 20px;
}

#question{
    font-weight: bold;
    font-size: 18px;
}

/* Styles for the "Don't have an account?" and "Already have an account?" links */
.register-link,
.login-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a,
.login-link a {
    color: #75c5e7; /* Change link color */
}

.quiz-title {
    color: white;
}

.program-title {
    color: orange;
}