/* Default font for the body */
body {
    font-family: sans-serif;
}

/* Custom font for the Login and Registration titles */
.login-title,
.registration-title {
    font-family: 'Archivo Black', sans-serif;
}

/* Styles for the login and registration containers */
.login-container,
.registration-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Center align the Login and Registration titles */
.login-container h2,
.registration-container h2 {
    text-align: center;
}

/* Styles for the input fields */
.login-container input[type="text"],
.login-container input[type="password"],
.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"] {
    width: calc(100% - 20px); /* Subtracting padding */
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Styles for the buttons */
.login-container button,
.registration-container button {
    width: calc(100% - 20px); /* Subtracting padding */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Styles for the "Don't have an account?" and "Already have an account?" links */
.register-link,
.login-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a,
.login-link a {
    color: #007bff;
}